* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Myanmar Sans Pro', sans-serif;
  background-color: #FFFFFF;
  color: #092E44;
  line-height: 1.6;
}

.container {
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

main {
  padding: 40px 0;
}

h1 {
  color: #FFFFFF;
  margin-bottom: 10px;
}
h2 {
  color: #092E44;
  margin-bottom: 10px;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
  margin-top: 10px;
}

a {
  color: #267CBC;
  text-decoration: none;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #092E44;
  color: #FFFFFF;
  margin-top: 40px;
}

.header {
  position: sticky;
  top: 0;
  width: 100%;
  box-shadow: 0 4px 20px hsla(207, 24%, 35%, 0.1);
  background-color: #092e44;
  z-index: 1;
}

.logo {
  width: 200px;
  height: auto;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
}

.logo img {
  width: 20%;
  height: auto;
  padding-right: 5px;
}

.logo a {
  font-size: 40px;
  font-weight: bold;
  color: #fff;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu a {
  display: block;
  padding: 7px 15px;
  font-size: 17px;
  font-weight: 500;
  transition: 0.2s all ease-in-out;
  color: #fff;
}

.menu:hover a {
  opacity: 0.4;
}

.menu a:hover {
  opacity: 1;
  color: #fff;
}

.menu-icon {
  display: none;
}

#menu-toggle {
  display: none;
}

#menu-toggle:checked ~ .menu {
  transform: scale(1, 1);
}

@media only screen and (max-width: 950px) {
  .menu {
    flex-direction: column;
    background-color: #092e44;
    align-items: start;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    z-index: 1;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 0.3s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }

  .menu a {
    margin-left: 12px;
  }

  .menu li {
    margin-bottom: 10px;
  }

  .menu-icon {
    display: block;
    color: #fff;
    font-size: 28px;
    cursor: pointer;
  }
}
